@import "global.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  position: relative;
  height: 100vh;
  padding-top: 100px;
  background: url("../img/grid.png") repeat;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.battlefield {
  display: none;
  padding: 100px 0;
  border: 3px solid $cell-color;
  border-radius: 50px;
  background-color: $white-color;

  &--active {
    display: block;
  }
}

.battlefield__title {
  @include font-prop(36, 36);
  margin-bottom: 50px; 
  text-align: center;
}

.fields {
  display: flex;
  justify-content: center;
}

.fields__playground {
  box-sizing: content-box;
  position: relative;
  width: 330px;
  height: 330px;
  margin: 0 20px;
  border-collapse: collapse;
  border: 3px solid $cell-color;
  background: url("../img/grid.png") repeat;
}

.fields__rows-names {
  position: absolute;
  top: 0;
  left: -33px;
  width: 33px;
  height: 330px;
  display: flex;
  flex-direction: column;
}

.fields__cols-names {
  position: absolute;
  top: -33px;
  left: 0;
  width: 330px;
  height: 33px;
  display: flex;
}

.fields__item {
  @include font-prop(24, 33);
  width: 33px;
  height: 33px;
  text-align: center;
}

.user-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 50px;
  text-align: center;
  background-color: $white-color;
  border: 3px solid $cell-color;
  border-radius: 50px;

  &--disabled {
    display: none;
  }
}

.user-name__title {
  @include font-prop(24, 24);
  margin-bottom: 30px;
}

.user-name__input {
  @include font-balsamiq;
  @include font-prop(20, 20);
  margin-bottom: 20px;
  padding: 10px 15px;
  transition: box-shadow .3s; 
  border: 2px solid $cell-color;
  border-radius: 5px;
  outline: none;

  &:hover {
    border-color: rgba($color: $cell-color, $alpha: .5);
  }

  &:active,
  &:focus {
    border-color:  $cell-color;
    box-shadow: 0 0 5px 0 rgba($color: $cell-color, $alpha: 1.0);
  }
}

.user-name__button {
  @include font-balsamiq;
  @include font-prop(20, 20);
  padding: 10px 40px;
  transition: .3s; 
  cursor: pointer;
  border: 2px solid $white-color;
  border-radius: 20px;
  outline: none;
  background-color: $cell-color;
  color: $white-color;

  &:hover {
    border: 2px solid $cell-color;
    background-color: $white-color;
    color: $black-color;
  }

  &:active {
    border-color: rgba($color: $cell-color, $alpha: .4)
  }
}

.ship {
  position: absolute;
  height: 35px;
  border: 2px solid $black-color;
}

.singledeck { 
  width: 35px;
}

.doubledeck {
  width: 68px;
}

.tripledeck {
  width: 101px;
}

.fourdeck { 
  width: 134px;
}

.verticale {
  transition: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}